<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layered HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <div class="layer1">
        <h1>This is the Background Layer (Layer 1)</h1>
    </div>
    <div class="layer2">
        <iframe id="notifyiframe" src="" frameborder="0"></iframe>
    </div>
    <div class="layer3" id="loading">
        <iframe src="/load/MKA - KΣ" frameborder="0"></iframe>
    </div>

<!-- partial -->
<script  src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
